.card-container {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #18181b;
  color: white;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.card-container .content {
  font-size: 14px;
  line-height: 1.25;
  margin-top: 20px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-footer-download {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download-button {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #52525b;
  cursor: pointer;
}

.card-tag {
  padding: 16px;
  text-align: center;
  font-size: 14px;
}
